* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0D0907;
  color: white;
}

input, textarea, select {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0D0907;
}

::-webkit-scrollbar-thumb {
  background: #C42020;
  border-radius: 3px;
}
@media (max-width: 768px) {
  #desktop-nav {
    display: none !important;
  }
  #mobile-btn {
    display: block !important;
  }
}

@media (min-width: 769px) {
  #desktop-nav {
    display: flex !important;
  }
  #mobile-btn {
    display: none !important;
  }
}